body{
    margin: 0;
    padding: 0;
}
.left img{
    width: 40px;
    height: 40px;
}
header{
    position: sticky;
    top: 0px;
    background-color: white;
}
nav{
    padding: 10px 42px;
    justify-content: space-between;
}
.container{
   padding: 0 10vw;
    margin: auto;
}
nav ul li{
    list-style: none;
    padding: 2px 12px;
    font-weight: bolder;
    text-transform: uppercase;
}
.section1{
    background-color: rgb(240, 234, 234);
    /* height: 200vh; */
}
.search{
    width: 25vw;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(254, 249, 249);
}
.homeImg{
    width: 75vw;
    padding: 20px;
    margin: auto;
    display: block;
}
.itemImg{
    width: 10vw;
    margin: 7px;
}
.footer{
    padding: 5px;
    margin: 15px 0px;
    text-align: center;
}