.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.mx-2{
    margin-left: 10px;
    margin-right: 10px;
}
.flex-wrap{
    flex-wrap: wrap;
}